.feed-container
  if stories
    for story in stories
      .feed-item-container
        .feed-item
          .feed-item_author-container
            .feed-item_author
              p
                a.author(href=`/users/${story.userId}`) #{story.User.firstName} #{story.User.lastName}
          .feed-item_text
            h3 #{story.title}
            p.subtitle #{story.subtitle}
            p.subtitle #{story.createdAt}
        .feed-item_img(style={'background-image':`url(${story.imageUrl})`})
          //- img.feed-img(src=story.imageUrl)
  else
    p There are no stories
