.feed-container
  if storiesData
    for story in storiesData
      .feed-item-container
        .feed-item
          .feed-item_author-container
            .feed-item_author
              p
                a.author(href=`/users/${story.authorId}`) #{story.authorName}
          .feed-item_text
            h3.title 
              a(href=`/story/${story.id}`) #{story.title}
            a.feed-item_text_info(href=`/story/${story.id}`)
              p.subtitle #{story.subtitle}
              p.subtitle #{story.date}
        a.feed-item_img(style={'background-image':`url(${story.image})`} href=`/story/${story.id}`)
  else
    p There are no stories
