.responses-container__header
    h3 Responses
    #responses-close-btn.header__close-button
        i#responses-close-icon(class="fa fa-times" aria-hidden="true")
.responses-container__new-response
    #new-response__header.hidden
        if currentUser
            .header__user-img
                img.user-img__img(src= currentUser.avatarUrl)
            .header__user-name
                span.user-name__fullName #{currentUser.firstName} #{currentUser.lastName}
    .new-response__form-container
        form.form-container__new-response-form
            .new-response-form__content
                textarea#responses-textarea.form-content__text-area--sm(name="content", placeholder="What are your thoughts?")
            #new-response-form__buttons.hidden
                button.buttons__cancel Cancel
                button.buttons__respond(type="submit" disabled) Respond
.responses-container__responses-display#story-responses
    if story.responsesCount > 0
        for response in story.responses
            .responses-display__container(id=`response-${response.id}`)
                .container__response-header
                    .response-header__author-info
                        .author-info__container
                            img.author__image(src=response.User.avatarUrl, alt="")
                        .author-info__container
                            a.container__author-name(href=`/users/${response.User.id}`) #{response.User.firstName} #{response.User.lastName}
                            .container__date=response.date
                    if currentUser
                        if currentUser.id === response.User.id
                            .response-header__trash-bin-container
                                .trash-bin-container__confirm-delete(id=`confirmDelete-${response.id}` class='hidden') Confirm Delete
                                img.trash-bin-container__trash-bin(id=`trashBin-${response.id}` src='../images/trash_bin.png')
                .container__content=response.content
                .container__icons
                    if user
                        if response.obj.responseImageClapped
                            img#icons__claps.icons__claps(src="/images/clapped3.png" alt="clapped" data-value=response.obj.responseClapStatus data-response-id=response.id)
                        else
                            img#icons__claps.icons__claps(src="/images/clapping1.png" alt="clap" data-value=response.obj.responseClapStatus data-response-id= response.id)
                        span(class=`icons__claps-count-${response.id}`)=response.obj.numResponseClaps
    else
        .responses-display__no-responses Be the first response!
