h2 Responses
.responses-container__new-response
    .new-response__header--hidden
        .header__user-img
            img(src= currentUser.username)
        .header__user-name
            span.user-name__fullName #{currentUser.firstName} #{currentUser.lastName}
    form.new-response__new-response-form
        .new-response-form__content
            input(type="textarea", name="content", placeholder="What are your thoughts?")
        .new-response-form__buttons--hidden
            button.buttons__cancel Cancel
            button(type="submit") Respond
.responses-container__responses-display#response-container
    if story.responsesCount > 0
        for response in story.responses
            .responses-display__response-info
                .response-info__author
                    img.author__image(src=response.user.avatarUrl, alt="")
                .response-info__container
                    .container__author-name #{response.user.firstName} #{response.user.lastName}
                    .container__date=response.updatedAt
            .responses-display__content=response.content
            .responses-display__icons
                img.icons__claps(src="/images/clapping1.png", alt="clap")
                .icons__claps-count=response.numClaps

