.trending-bar
    .trending-bar__content
        each trendingStory, index in trendingStoriesData
            .content__story
                span.story__rank 0#{index + 1}
                .story__info
                    .info__author
                        img.author__img(src= trendingStory.authorAvatar, alt="Author Image")
                        a.author__name(href=`/users/${trendingStory.authorId}`)= trendingStory.authorName
                    a.info__title(href=`story/${trendingStory.id}`) #{trendingStory.title}
                    .info__details
                        span.details__date= trendingStory.date
                        span.details__read-time= trendingStory.readTime
                        span.details__star
                            i.star__icon(class="fa fa-star fa-xs" aria-hidden="true")
