.feed-container
<<<<<<< HEAD
  if stories
    for story in stories
      .feed-item-container.feed-container
        .feed-item
          .feed-item_author-container
            .feed-item_author
              p.author #{story.author}
          .feed-item_text
            h2 #{story.title}
            p #{story.description}
          .feed-item_img place image bonus?
=======
  for story in stories
    .feed-item-container.feed-container
      .feed-item
        .feed-item_author-container
          .feed-item_author
            p.author #{story.author}
            //- variable names open to change
        .feed-item_text
          h2 #{story.title}
          p #{story.description}
        .feed-item_img place image bonus?
        
>>>>>>> 910a8ce... finished starter feed template
