extends layout

block content
    .main__left-side-panel
        .left-side-panel__follow-box
            a(href=`/users/${story.authorId}`).follow-box__author= story.authorName
            button.follow-box__follow-button Follow
        .left-side-panel__widgets-box
            .widgets-box__claps
                if story.imageClapped
                    img#claps__img.claps__img(src="/images/clapped3.png" alt="clapped" data-value=story.isClapped data-story-id= story.id)
                else
                    img#claps__img.claps__img(src="/images/clapping1.png" alt="clap" data-value=story.isClapped data-story-id= story.id)
                span.claps__claps-count #{story.clapsCount}
            .widgets-box__responses
                i.responses__icon(class="fa fa-comment-o fa-lg" aria-hidden="true")
                span.responses__responses-count #{story.responsesCount}
            .widgets-box__bookmark
                i.bookmark__icon(class="fa fa-bookmark-o fa-lg" aria-hidden="true")
    .main__story-container
        .story-container__story
            .story__title= story.title
            .story__subtitle= story.subtitle
            .story__information
                img.information__author-img(src= story.avatarUrl, alt="author picture")
                .information__container
                    .container__author
                        a.author__name-link(href=`/users/${story.authorId}`)= story.authorName
                        button.author__follow-button.follow(value=`${story.authorId}`) #{followBtnText}
                    .container__story-data
                        span.story-data__date= story.date
                        span.story-data__read-time= story.readTime
                .information__bookmark
                    i.bookmark__icon(class="fa fa-bookmark-o fa-lg" aria-hidden="true")
            .story__image-container
                img.image-container__img(src= story.imageUrl)
            .story__content-container
                .content-container__content= story.content
            .story__below-content
                .below-content__content-icons
                    .content-icons__claps
                        if story.imageClapped
                            img#claps__img.claps__img(src="/images/clapped3.png" alt="clapped" data-value=story.isClapped data-story-id= story.id)
                        else
                            img#claps__img.claps__img(src="/images/clapping1.png" alt="clap" data-value=story.isClapped data-story-id= story.id)
                        span.claps__claps-count.story-claps #{story.clapsCount}
                    .content-icons__responses
                        i.responses__icon(class="fa fa-comment-o fa-2x" aria-hidden="true")
                        span.responses__responses-count #{story.responsesCount}
                    .content-icons__bookmark
                        i.bookmark__icon(class="fa fa-bookmark-o fa-2x" aria-hidden="true")
                .below-content__author-info
                    .author-info__img-container
                        img.img-container__author-img(src= story.avatarUrl, alt="Author Picture")
                    .author-info__author-text
                        .author-text__written-by WRITTEN BY
                        a.author-text__name(href=`/users/${story.authorId}`)= story.authorName
                        .author-text__bio= story.bio
                    .author-info__follow-container
                        button.follow-container__follow-button.follow(value=`${story.authorId}`) #{followBtnText}
    #responses-background.main__responses-background.hidden
        #responses-container
            include includes/responses
    script(type="module" src="/js/storyClap.js")
    script(type="module" src="/js/follow.js")
    include includes/trending
    script(type="module" src="/js/story.js")
    script(type="module" src="/js/responseClap.js")
