extends layout

block content
  .screen
    .home-grid-section
      .user-grid-container
        .user-grid
          .userProfile
            .userProfile__header
              h2.userName #{author.firstName} #{author.lastName}
              if user && user.id !== author.id
                .user-followButton-container
                  .user-followButton
                    button.follow(value=`${author.id}`) #{followBtnText}
              else if user && user.id === author.id
                .user-editButton-container
                  .user-editButton
                    button.findUserPage(value=`${author.id}`) Edit

            .userDetails
              p.userBio #{author.bio}
              img(src=`${author.avatarUrl}`).userAvatar
            .userFollows
              div
                p #{following} Following
              div
                p.followers #{followers} Followers
          .user-feed-container
              include includes/feed
  script(type="module" src="/js/follow.js")
